<head>
  <meta charset="UTF-8" />
  <title>App de Productos</title>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"
  />

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="card-body">
          <div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>PRODUCTO NO ENCONTRADO</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/main'">VOLVER</button>
    </div>
</div>
  </div>
</body>



