
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
      
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"
        />
      
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous"
        />
      </head>

  <body style="background-color:#424242 ;" >
    <div class="row text-center align-content-center justify-content-center pb-5">
        <div class="col-lg-7">
        <div class="btn card-body btn-block btn-dark" style="font: size 10px ;">
            <h2 > PROYECTO FINAL CODERHODUSE</h2>
            <h6>Diaz Ayrton Sergio</h6>
        </div>
        </div>
        <div class="col-lg-3 justify-content-center text-center">
            <form action="http://localhost:8081/main" method="get" >
                <button  type="submit " style="background-color:#cbdd5f; color:black ;" class="card-body btn-block  btn">
                    <img src="../views/nodejs.png" style="width:60px" alt="">
                </button>
            </form>
        </div>
        </div>
    <div id="container" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <section style="color: white;" class=" card rounded-lg bg-dark" >
                    <div class="card-body p-5 text-center justify-content-center">
                        <h1>Login</h1>
                        <br>
                        <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">

                            <form class='form'   action='/register'    method='post'   role='form'   autocomplete='off' style="color:white ;">
                                <div class="form-group" style="color:white ;">
                                    <h6>Email</h6>
                                    <input id="username" name='username'  class="form-control" type="text" style="color:white ;"required>
                                </div>
                                <div class="form-group" style="color:white ;">
                                    <h6>Nombre y Apellido</h6>
                                    <input id="nombre" name='nombre'  class="form-control" type="text" style="color:white ;"required>
                                </div>
                                <div class="form-group" style="color:white ;">
                                    <h6>Telefono</h6>
                                    <input id="telefono" name='telefono'  class="form-control" type="number" style="color:white ;"required>
                                </div>
                                <div class="form-group">
                                    <h6>Password</h6>
                                    <input id="password" name='password'  class="form-control" type="password" style="color:white ;" required>
                                </div>
                                <div class="form-group">
                                    <h6>Confirma Password</h6>
                                    <input id="passwordC" name='passwordC'  class="form-control" type="password" style="color:white ;" required>
                                </div>
                                <div class="form-group" >
                                    <input class="btn btn-block my-3" type="submit" value="Registrar"  style="background-color:#cbdd5f; color:black ;">
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>            
                  </section>
            </div>
        </div>
        <div class="row justify-content-center pt-5 text-center">
            <div class="col-lg-6">
                <section style="color: white;" class=" card rounded-lg bg-dark justify-content-center" >
                    <div class="row justify-content-center">

                        <div class="col-lg-8 text-center p-4" >
                            <!-- <h6>¿Aun sin cuenta? Registrate!</h6> -->
                            <button class="btn btn-block my-3" onclick="location.href = '/login'" style="background-color:#cbdd5f; color:black ;">Ir a Login</button>
                        </div>
                    </div>
                  </section>
            </div>
        </div>



    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
    </script>
  </body>